body {
  text-align: center;
  background: #878787;
}
#board {
  width: 300px;
  height: 300px;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: inherit;
}

.square {
  background-color: black;
  width: 94px;
  height: 94px;
  margin: 3px;
  font-size: 50px;
  color: white;
  text-align: center;
  padding-top: 10px;

}

#footer-ref {
  text-align: center;
  font-weight: bold;
  color: black;
}
#spoiler {
  text-align: center;
  font-weight: bold;
  color: black;
  font-size: 10px;
}
